body{
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
    text-align: center;
}

p{
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1.0rem;
    text-align: center;
    color: hsl(216, 15%, 48%);
}

footer{
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}

.outer-box{
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 470px;
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    border-radius: 20px;
    filter: drop-shadow(black 0.25rem 0.25rem 4px);
}

.text-box{
    height: 30%;
    width: 80%;
    margin: 0% 10% 10% 10%;
}

.qr-img{
    box-sizing: border-box;
    margin: 5% 5% 0% 5%;
    width: 90%;
    border-radius: 20px;
}
